In [1]:
import pandas as pd

df = pd.read_csv("Singapore_dataset.csv")
df

        resale_price  lease_remain_years  bhk  floor  address_encoded_numeric
0           255000.0                  62    3    8.0                       20
1           275000.0                  57    3    2.0                       20
2           285000.0                  56    3    2.0                       20
3           290000.0                  55    3    2.0                       20
4           290000.0                  56    3    8.0                       20
...              ...                 ...  ...    ...                      ...
180714      630000.0                  91    5    5.0                       20
180715      702000.0                  94    5    8.0                       20
180716      685000.0                  92    5    8.0                       20
180717      750000.0                  93    5   11.0                       20
180718      660000.0                  64    5   11.0                       20

[180719 rows x 5 columns]

In [2]:
X = df.drop(['resale_price'], axis=1)
y = df['resale_price']

In [3]:
X

        lease_remain_years  bhk  floor  address_encoded_numeric
0                       62    3    8.0                       20
1                       57    3    2.0                       20
2                       56    3    2.0                       20
3                       55    3    2.0                       20
4                       56    3    8.0                       20
...                    ...  ...    ...                      ...
180714                  91    5    5.0                       20
180715                  94    5    8.0                       20
180716                  92    5    8.0                       20
180717                  93    5   11.0                       20
180718                  64    5   11.0                       20

[180719 rows x 4 columns]

In [4]:
y

0         255000.0
1         275000.0
2         285000.0
3         290000.0
4         290000.0
            ...
180714    630000.0
180715    702000.0
180716    685000.0
180717    750000.0
180718    660000.0
Name: resale_price, Length: 180719, dtype: float64

## Splitting data into training and testing purpose

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
print(len(X_train))
print(len(y_train))
print(len(X_test))
print(len(y_test))

144575
144575
36144
36144

In [7]:
from sklearn.linear_model import LinearRegression

# Building the model
lr_clf = LinearRegression()
# Fitting the model with training dataset
lr_clf.fit(X_train,y_train)
#Predicting model's accuracy
lr_clf.score(X_test,y_test)

0.46113714212667534

In [8]:
from sklearn.linear_model import Ridge

# Apply Ridge regression
alpha = 1.0  # You can adjust the alpha parameter based on your needs
ridge_model = Ridge(alpha=alpha)
ridge_model.fit(X_train, y_train)

# Evaluate the model on the test set
ridge_score = ridge_model.score(X_test, y_test)

# Display the results
print(f"Ridge Regression R^2 Score: {ridge_score}")
print("Ridge Coefficients:")
print(pd.Series(ridge_model.coef_, index=X.columns))

Ridge Regression R^2 Score: 0.4611371591521508
Ridge Coefficients:
lease_remain_years          2236.811305
bhk                        91417.867574
floor                       6335.832269
address_encoded_numeric     1977.287188
dtype: float64

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Apply Random Forest
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_model.predict(X_test)

# Calculate R-squared
r_squared = r2_score(y_test, y_pred)
print(f'R-squared: {r_squared}')

R-squared: 0.5850372632483065

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

# Initialize the GradientBoostingRegressor
gb_reg = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# Fit the model to the training data
gb_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = gb_reg.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")

Mean Squared Error: 8573439063.736204
Root Mean Squared Error: 92592.86724006447

In [12]:
from sklearn.metrics import r2_score

# Calculate R-squared value
r2 = r2_score(y_test, y_pred)
print(f"R-squared Value: {r2}")

R-squared Value: 0.5644004229046364

In [13]:
new_sample = np.array([[62, 3, 5.0, 5]])
new_pred = rf_model.predict(new_sample)
print("Predicted Resale Price:", new_pred)

Predicted Resale Price: [241151.92419836]

C:\Users\HP\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [14]:
import numpy as np

# Assuming new_sample is your new input data
new_sample = np.array([[62, 3, 5.0, 5]])

# Make predictions using the trained RandomForestRegressor model
new_pred = rf_model.predict(new_sample)

# Display the predicted resale price
print("Predicted Resale Price:", new_pred)

Predicted Resale Price: [241151.92419836]

C:\Users\HP\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [15]:
import numpy as np

# Assuming new_sample is your new input data
new_sample = np.array([[62, 3, 5.0, 5]])
feature_names = ['lease_remain_years', 'bhk', 'floor', 'address_encoded_numeric']
new_sample_df = pd.DataFrame(new_sample, columns=feature_names)

# Make predictions using the trained RandomForestRegressor model
new_pred = rf_model.predict(new_sample_df)

# Display the predicted resale price
print("Predicted Resale Price:", new_pred)

Predicted Resale Price: [241151.92419836]

In [10]:
'''from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Create and train the Support Vector Machine Regressor
svr = SVR(kernel='rbf')  # You can choose different kernels like 'linear', 'poly', etc.
svr.fit(X_train, y_train)

# Make predictions on the test set
y_pred = svr.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

# Print the evaluation metrics
print(f'Mean Squared Error (MSE): {mse:.2f}')
print(f'Mean Absolute Error (MAE): {mae:.2f}')'''

"from sklearn.svm import SVR\nfrom sklearn.metrics import mean_squared_error, mean_absolute_error\n\n# Create and train the Support Vector Machine Regressor\nsvr = SVR(kernel='rbf')  # You can choose different kernels like 'linear', 'poly', etc.\nsvr.fit(X_train, y_train)\n\n# Make predictions on the test set\ny_pred = svr.predict(X_test)\n\n# Evaluate the model\nmse = mean_squared_error(y_test, y_pred)\nmae = mean_absolute_error(y_test, y_pred)\n\n# Print the evaluation metrics\nprint(f'Mean Squared Error (MSE): {mse:.2f}')\nprint(f'Mean Absolute Error (MAE): {mae:.2f}')"

### SVR model is very much time consuming